APP_NAME=CyberLey API
APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8000
APP_RELOAD=false

FRONTEND_ORIGINS=http://localhost:5173,http://localhost:5174

SUPABASE_URL=https://TU-PROYECTO.supabase.co
SUPABASE_PUBLISHABLE_KEY=TU_PUBLISHABLE_KEY
SUPABASE_SERVICE_ROLE_KEY=TU_SERVICE_ROLE_KEY
